
nav, .list-group-item, a {
  color:#551b14;
}

h1 {
  color: #551b14;
  font-family: fantasy;
  background-color: #b59da4;
}

h2, h3, .aboutMe {
  color: #6d3d14;
  font-family: fantasy;
}
.App-footer {
 color: #551b14;
}

.body {
  background-color: #cdc5b4
}

.contact {
  color: #551b14;
  font-size: large;
}
.App {
  text-align: center;
  font-family: fantasy;
  background-color: #cdc5b4;
}

.list-group .list-group-item {
  background-color: #cdc5b4;
  font-size: larger;
  border: none;
}

.navbackground ul, 
.navbackground ul .list-group-item {
  background-color: #b59da4;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.aboutMe {
  font-size: large;
}

.mePic {
  height: 40vmin;
}

.formbg {
  background-color: #cdc5b4;
}

.list {
  flex-shrink: 1;
  flex-direction: row;
  font-size: 25px;
  margin-right: 20px;
  color: #551b14;
  list-style-type: none;
  text-shadow: 5px 5px 5px grey;
}

.flexcont {
  display: flex;
  flex-direction: column;
  flex-basis: 50;
  background-color: #cdc5b4;
}
.projects {
  display: block;
  max-width: 50%;
  margin-left: 25%;
  justify-content: center;
  align-items: center;
  padding: 2%;
}

.form {
  margin: 20px;
}

.form input, textarea{
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.formfield {
  margin-left: 25%;
  margin-bottom: 2%;
}
/* 
.message {
  height: 100px;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  text-shadow: 10px 10px 5px grey;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#app {
  background-color: #cdc5b4;
}

#linkedin {
  height: 50px;
  padding: 10px;
}

#stack {
  height: 50px;
  padding: 10px;
}

#github {
  height: 50px;
  padding: 10px;
}

#nav {
  color: #551b14;
}

#resume, #projlinks {
  color: #6d3d14;
}

#my-projects {
  padding: 3%;
}

.list-group .list-group-item {
  color: #6d3d14;
  font-family: fantasy;
}